.ui.grid>.row>[class*="four wide"].column.except{
	margin-bottom: 2rem;
}

.ui.menu .item img.logo {
	margin-right: 1em;
}
.main.container {
	margin-top: 7em;
}

.alur {
	margin-top: 40px;
	width:850px;
	margin-left: 3%;
	height: 568px;
	background: url('images/alur.png') no-repeat center;	
}